.task {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    transition: 0.2s;
    border-radius: 20px;
    margin-bottom: 5px;
    background-color: #d9ad7c;
}
/*.task:hover {*/
    /*background-color: #674d3c;*/
    /*color: #fff2df;*/
/*}*/

.task__checkbox {
    margin-left: 20px;
}


.task__text {
    margin-left: 20px;
    width: 650px;
    color: #674d3c;
    font-weight: 600;
}

.task__edit-button,
.task__remove-button {
    border: none;
    padding: 10px;
    width: 100px;
    background: #674d3c;
    border-radius: 10px;
    color:#d9ad7c;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 2px #999;
    height: 50px;
    margin-right: 5px;
    align-self: center;
}

.task__edit-button:hover,
.task__remove-button:hover {
    background-color: #fff2df;
    color: #674d3c;
}


.task__edit-input {
    border: none;
    width: 600px;
    height: 35px;
    float: left;
    font-size: 16px;
    border-radius: 10px;
    align-self: center;
    position: absolute;
    margin-left: 50px;
}

