.chat-box {
    width: 292px;
    height: 384px;
    border-radius: 8px 8px 0 0;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
    font-family: OpenSans, sans-serif;
    display: inline-block;
    margin: 10px;
}
