.chat {
    width: 292px;
    height: 280px;
    background-color: #ffffff;
    margin-top: 7px;
    overflow: hidden;
}

.chat__date {
    width: 100px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #828282;
    display: block;
    margin: 0 auto;
}
