.chat {
    width: 292px;
    height: 269px;
    background-color: #ffffff;
    margin-top: 9px;
    margin-bottom: 9px;
    overflow: auto;
}

.chat__date {
    width: 100%;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: center;
    color: #828282;
    display: block;
    margin: 0 auto;
}
