.chat-option {
    object-fit: contain;
    float: right;
    margin: 0 7px;
}

.chat-option_close {
    margin-top: 7px;
    margin-bottom: 6px;
    margin-left: 5px;
}

.chat-option_cog {
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-option_video {
    margin-top: 12px;
    margin-bottom: 12px;
}

.chat-option_plus {
    margin-top: 10px;
    margin-bottom: 10px;
}
