.friend-message {
    margin-left: 16px;
}

.friend-message__date {
    width: 100px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #828282;
    margin: 0 auto;
    clear: both;
    display: block;
}

.friend-message__user-image {
    clear: both;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    float: left;
}

.friend-message__text {
    max-width: 162px;
    min-height: 16px;
    text-align: left;
    font-size: 12px;
    padding: 6px 11px 6px 11px;
    margin-left: 36px;
    background-color: #f3f3f3;
    color: #353535;
}

.friend-message__text_normal {
    border-radius: 100px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.friend-message__text_upper {
    margin-bottom: 0;
    border-radius: 14px 14px 14px 0 ;
}

.friend-message__text_middle {
    border-radius:  0 14px 14px 0;
}

.friend-message__text_down {
    margin-top: 1px;
    border-radius: 0 14px 14px 14px;
}

.friend-message_clear-fix {
    clear: both;
}