.message-creator {
    width: 100%;
    height: 65px;
}


.message-creator__input {
    margin: 7px 0 0 16px;
    width: 90%;
    height: 17px;
    font-size: 12px;
    border: none;
    color: black;
}

.message-creator__line {
    width: 100%;
    border-top: solid 1px #e5e5e5;
}

::placeholder {
    color: #cdcdcd;
}