.message-creator {
    width: 292px;
    height: 65px;
}


.message-creator__input {
    margin: 7px 0 0 16px;
    width: 260px;
    height: 17px;
    font-size: 12px;
    border: none;
    color: #cdcdcd;
}

.message-creator__line {
    width: 292px;
    border: solid 1px #e5e5e5;
}