.my-message {
    margin-right: 18px;
}
.my-message__date {
    width: 100px;
    height: 14px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #828282;
    display: block;
    margin: 0 auto;
}

.my-message__text {
    max-width: 162px;
    min-height: 16px;
    text-align: left;
    font-size: 12px;
    padding: 6px 11px 6px 11px;
    float: right;
    background-color: #2979ff;
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 0;
}


.my-message__text_normal{
    border-radius: 100px;
}

.my-message__text_upper {
    margin-bottom: 0;
    border-radius: 14px 14px 0 14px;
}

.my-message__text_middle {
    border-radius: 14px  0 0 14px;
}

.my-message__text_down {
    margin-top: 1px;
    margin-bottom: 17px;
    border-radius: 14px 0 14px 14px;
}

.my-message_clear-fix {
    clear: both;
}