.my-message {
    margin-right: 18px;
}

.my-message__text {
    max-width: 162px;
    min-height: 16px;
    text-align: left;
    font-size: 12px;
    padding: 6px 11px 6px 11px;
    float: right;
    background-color: #2979ff;
    color: #ffffff;
    margin-top: 1px;
    margin-bottom: 0;
    display: table;
    word-break: break-word;
}


.my-message__text_normal{
    border-radius: 14px;
}

.my-message__text_upper {
    margin-bottom: 0;
    border-radius: 14px 14px 0 14px;
}

.my-message__text_middle {
    border-radius: 14px  0 0 14px;
}

.my-message__text_down {
    margin-top: 1px;
    margin-bottom: 17px;
    border-radius: 14px 0 14px 14px;
}

.my-message_clear-fix {
    clear: both;
}